GateTutorial/Xilinx/Gates/Gates.cache/wt/gui_handlers.wdf
GateTutorial/Xilinx/Gates/Gates.cache/wt/java_command_handlers.wdf
GateTutorial/Xilinx/Gates/Gates.cache/wt/webtalk_pa.xml
GateTutorial/Xilinx/Gates/Gates.sim/sim_1/behav/xsim/Gates_tb_behav.wdb
GateTutorial/Xilinx/Gates/Gates.sim/sim_1/behav/xsim/simulate.log
GateTutorial/Xilinx/Gates/Gates.sim/sim_1/behav/xsim/xsim.dir/Gates_tb_behav/xsimkernel.log
GateTutorial/Xilinx/Gates/Gates.sim/sim_1/behav/xsim/xsim.dir/Gates_tb_behav/xsimSettings.ini
GateTutorial/Xilinx/Gates/Gates.sim/sim_1/behav/xsim/xsim.dir/Gates_tb_behav/webtalk/.xsim_webtallk.info
GateTutorial/Xilinx/Gates/Gates.sim/sim_1/behav/xsim/xsim.dir/Gates_tb_behav/webtalk/xsim_webtalk.tcl
